<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.eculturetool">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <queries>

        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcultureTool">
        <activity
            android:name=".activities.ResetPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".utilities.Capture"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme" />
        <activity
            android:name=".percorsi.EsportazionePercorsoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PercorsiActivity"
            android:exported="false"
            android:label="@string/percorsi"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.ModificaZonaActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.DettaglioZonaActivity"
            android:exported="false"
            android:parentActivityName=".activities.ZoneActivity" />
        <activity
            android:name=".activities.AggiungiZonaActivity"
            android:exported="false"
            android:parentActivityName=".activities.ZoneActivity" />
        <activity
            android:name=".activities.ZoneActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.ModificaOggettoActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.DettaglioOggettoActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.ModificaLuogoActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.AggiungiLuogoActivity"
            android:exported="false"
            android:label="Crea Luogo"
            android:parentActivityName=".activities.LuoghiActivity" />
        <activity
            android:name=".activities.DettaglioLuogoActivity"
            android:exported="false"
            android:label=""
            android:parentActivityName=".activities.LuoghiActivity" />
        <activity
            android:name=".activities.LuoghiActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.CreazioneMuseoActivity"
            android:exported="true"
            android:label="Crea il tuo luogo"
            android:parentActivityName=".activities.RegisterUserActivity" />
        <activity
            android:name=".activities.OggettiActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.AggiungiOggettoActivity"
            android:exported="false"
            android:label="Crea Oggetto"
            android:parentActivityName=".activities.OggettiActivity" />
        <activity
            android:name=".activities.ModificaPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- Utilizzata per ritagliare le foto acquisite da fotocamera e galleria -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".ObjectActivity"
            android:exported="true" />
        <activity
            android:name=".provaoggetti.ElencoOggetti"
            android:exported="true" />
        <activity
            android:name=".activities.ModificaProfiloActivity"
            android:exported="false"
            android:label="Modifica Profilo"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.UploadImageActivity"
            android:exported="false"
            android:label="Carica Immagine"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.EcultureTool.NoActionBar" />
        <activity
            android:name=".activities.PasswordDimenticataActivity"
            android:exported="false"
            android:label="Password Dimenticata"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.RegisterUserActivity"
            android:exported="false"
            android:label="Registrazione"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.AddZonaToPercorsoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CreazionePercorsoActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true" />
        <activity
            android:name=".fragments.InfoZonaActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:exported="true" />
        <!--
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.eculturetool.fileprovider;com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>